<?xml version="1.0"?>
<configuration>


  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MypgEntitiesConnectionString" connectionString="metadata=.\
	mypg.csdl|.\mypg.ssdl|.\mypg.msl;provider=Npgsql;provider connection string=&quot;Server=localhost;PORT=5432;PROTOCOL=3;DATABASE=mypg;USER ID=postgres;PASSWORD=12345;SSL=False;SSLMODE=Disable;TIMEOUT=15;POOLING=True;CONNECTIONLIFETIME=15;MINPOOLSIZE=1;MAXPOOLSIZE=20;SYNCNOTIFICATION=False;COMMANDTIMEOUT=20;ENLIST=False;PRELOADREADER=False;USEEXTENDEDTYPES=False;INTEGRATED SECURITY=False;COMPATIBLE=2.0.12.0&quot;"
      providerName="System.Data.EntityClient" />
  
  </connectionStrings>

</configuration>
